#top{
    border-radius: 1px 1px 30px 30px;
    background-color: rgba(89, 89, 166, 1);
    height: 55px;
    z-index: 0;
}
#topgraph{
    z-index: 2;
}
#link:hover{
    color: blue;
}
#logo{
    height: 45px;
    z-index: 1;
}
#logo2{
    margin-top: 8px;
    height: 20px;
    z-index: 1;
}
