#top{
    border-radius: 1px 1px 30px 30px;
    background-color: rgba(89, 89, 166, 1);
    height: 100px;
    z-index: 0;
}
#topgraph{
    margin-top: 30px;
    z-index: 2;
}
#link:hover{
    color: blue;
}
#logo{
    height: 80px;
    z-index: 1;
}
